<launch>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <param name="robot_description" textfile="$(find turtlebot3_description)/urdf/magicbot.urdf" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_magicbot_broadcaster" args="0 0 .25 0 0 0 1 odom magicbot" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="top_left_wheelbase_to_magicbot_broadcaster" args="-.13 -.14 -.1375 0 0 0 1 magicbot top_left_wheelbase" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="top_right_wheelbase_to_magicbot_broadcaster" args="-.13 .14 -.1375 0 0 0 1 magicbot top_right_wheelbase" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="bottom_left_wheelbase_to_magicbot_broadcaster" args=".13 -.14 -.1375 0 0 0 1 magicbot bottom_left_wheelbase" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="bottom_right_wheelbase_to_magicbot_broadcaster" args=".13 .14 -.1375 0 0 0 1 magicbot bottom_right_wheelbase" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="wheelbase_to_top_left_wheel" args="-.02 -.08 0 0 0 1.570796 top_left_wheelbase top_left_wheel" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="wheelbase_to_top_right_wheel" args="-.02 .08 0 0 0 1.570796 top_right_wheelbase top_right_wheel" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="wheelbase_to_bottom_left_wheel" args=".02 -.08 0 0 0 1.570796 bottom_left_wheelbase bottom_left_wheel" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="wheelbase_to_bottom_right_wheel" args=".02 .08 0 0 0 1.570796 bottom_right_wheelbase bottom_right_wheel" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_mount_to_magicbot" args="0 0 .0925 0 0 0 1 magicbot lidar_mount" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="velodyne_to_lidar_mount" args="0 0 .05 0 0 0 1 lidar_mount velodyne" />
</launch>
